html {
  scroll-padding-top: 15%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #FFCA3A;
}

img {
  width: min(35vw, 230px);
  height: 100%;
  border-radius: 50%;
  margin: 1em;
  flex-shrink: 0;
}

body {
  margin-bottom: 50vh;
}

a {
  text-decoration: none;
}

/* ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: ;
} */