/*
  Name: Wei Jun Tan
  Date: March 30, 2020
  Section: CSE 154 AH (TA: Victor Shan)
  This is the generic styles.css page for my portfolio of course CSE 154.
*/

/* Selector exception: https://edstem.org/us/courses/4802/discussion/351478 */
html {
  scroll-padding-top: 10%;
}

body {
  font-family: "source sans pro", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5fcff;
}

section {
  margin: auto 5%;
}

h1, h2 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 1.8em;
  margin: 2% auto;
}

h2 {
  font-size: 1.6em;
}

ul, p, summary {
  font-size: 1.2em;
}

ul {
  list-style: square;
}

p {
  text-align: justify;
  max-width: max(90vw, 800px);
}

img {
  max-height: 400px;
  max-width: 100%;
  transition: 1s;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #192841;
}

nav > a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 1em;
  transition: 0.4s;
}

nav > a:hover, nav > a:active {
  background-color: #00478f;
}

details, summary, details[open] {
  padding: 0.5em;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  max-width: 250px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin: -0.5em;
  transition: 0.8s ease-out;
}

summary:hover, details[open] summary {
  background-color: lightgray;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}